/* Global reset */
* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll globally */
  width: 100%;
  background-color: #f5f5f7;
  -webkit-font-smoothing: antialiased;
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  display: block;
}